@font-face {
  font-family: "mario";
  src: url("/assets/super-mario-bros--3-webfont.ttf") format("truetype");
}

.fontcontainer {
	width: 60px;
	height: 35px;
	position: absolute;
	background-color: #000;
	font-family: "mario", sans-serif;
	font-size: 30px;
	color: #fff;
/*	border: 1px solid #fff;
*/}

.coins {
	left: 281px;
	top: 256px;
/*	border: 1px solid #fff;
*/}

.extralife {
	left: 351px;
	top: 338px;
}