.stage {
	background-image: url("/images/backdrop.png");
	position: absolute;
	width: 512px;
	height: 480px;
	left: 50%; top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.slot1 , .slot2, .slot3 {
	position: absolute; /*bezieht sich auf den parent container, hier stage*/
	width: 40px;
	height: 40px;
	background: url("/images/sprites.png") #fff;
	background-size: 40px 160px;
	top: 188px; 
}

.slot1 {
	left: 172px;
}

.slot2 {
	left: 236px;
}

.slot3 {
	left: 300px;

}

.rotating {
	animation: anim 0.3s linear infinite;
}

.transto0 {
	-webkit-animation: ato0 1s ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;  
}

.transto1 {
	-webkit-animation: ato1  1s ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;  
}

.transto2 {
	-webkit-animation: ato2 1s ease-out;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;  

}
.transto3 {
	-webkit-animation: ato3  1s ease-out;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;  

}


@keyframes ato0 {

	100% {
		background-position: 0px 0px;
	}

}

@keyframes ato1 {

	100% {
		background-position: 0px -40px;
	}

}

@keyframes ato2 {

	100% {
		background-position: 0px -80px;
	}

}

@keyframes ato3 {

	100% {
		background-position: 0px -120px;
	}/*meknows this is the same as anim but ill leave it here for sake of understanding*/

}

@keyframes anim {
	0% {
		background-position: 0px 0px;
	}

	100%{
		background-position: 0px -120px; 
	}
}
